{% extends 'base.html' %}

{% block content %}


<div class="container default-text">
</div>

<div class="row justify-content-center mt-4">
    <div class="col-8 col-md-3 text-center border border-primary rounded p-4">
    <form method="post" action="{% url 'login' %}">
        <h2 class="form-signin-heading">Please login</h2>

        {% csrf_token %}
        {% if form.errors %}
        <div class="my-4 text-warning font-weight-bold">
            Your username and password didn't match. Please try again.
        </div>

        {% if next %}
        {% if user.is_authenticated %}
        <div class="my-4">
            Your account doesn't have access to this page. To proceed, please
            login with an account that has access.
        </div>
        {% endif %}
        {% endif %}
        {% endif %}

        <div class="form-group">
            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div>
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>

            <button class="btn btn-primary px-4 mt-4" type="submit" value="login">
                Login
                <input type="hidden" name="next" value="{{ next }}" />
            </button>
        </div>
    </div>

    </form>
</div>

{% endblock %}
