<!-- templates/base.html -->
<!DOCTYPE html>
<html>
    <head>
        {%load plotly_dash%}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        <title>PMall</title>

        {% load static %}

        <link rel="shortcut icon" type="image/png" href="{% static 'js/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        {% block specific_css%}
        {% endblock %}

        <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        {% plotly_header %}
    </head>

    <body>

        <!-- templatad navbar -->

        <!-- Header -->

        <nav class="nav navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                                             data-target="#navbarContent" aria-controls="navbarContent"
                                                                                          aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
                    <div class="navbar-nav">
                        {% for app in installedApp %}
                        {% if app != "demo" %}
                        <a class="nav-item nav-link" href="/{{app}}/">{{app}}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/demo/">Demo</a>
                        <a class="nav-item nav-link" href="/contact/">
                            <i class="fas fa-at"></i>
                            Contact us
                        </a>
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="/admin/">
                            <i class="fas fa-cogs"></i>
                            Administration
                        </a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </a>
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">
                            <i class="fas fa-sign-in-alt"></i>
                            Login
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>

    </body>

    <footer id="footer">
        {% plotly_footer %}
    </footer> 

</html>
