<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}PMALL: capture'them all!{% endblock %}


{% block content %}

{% load staticfiles %}
{% load email_obfuscator %}


<div class="row justify-content-center mt-4">
    <div class="col-8 col-md-6">
        <h2>Chemistry IGE group - Grenoble</h2>
        <p>
            The purpose of this website is data visualisation and exploration of
            the PM filter analysis database of the IGE. The IGE lab does not own
            all of the filters and the analysis may have been done by other labs through
            collaboration (LCME, INERIS, IMT, PSI, ...) and involve many partnership (for
            instance the AASQA for the field work, ADEME or ANSES for the founding, etc.).
        </p>
        <p>
            As a consequence, the full database is not yet open for everyone. If
            you want to re-use part of the data for any purpose, you have to
            contact us before.
        </p>
        <ul>
            <li>Gaëlle Uzu: {{'gaelle.uzu@univ-grenoble-alpes.fr'|obfuscate_mailto}}</li>
            <li>Jean-Luc Jaffrezo: {{'jean-luc.jaffrezo@univ-grenoble-alpes.fr'|obfuscate_mailto}}</li>
            <li>Samuël Weber: {{'samuel.weber@univ-grenoble-alpes.fr'|obfuscate_mailto}}</li>
        </p>
    </div>
</div>

{% endblock %}
