{% extends 'base.html' %}
{% load static %}

{% block title %}PMALL: capture'them all!{% endblock %}

{% block specific_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/apps.css' %}"/>
{% endblock specific_css %}

{%load plotly_dash%}
{% block content %}
{% with request.get_full_path|slice:"1:-1" as appname %}
    {% if user.is_authenticated or appname in settings.NO_LOGIN_APPS %}
        {% plotly_direct name="app_"|add:appname%}
    {% else %}
    <div class="row justify-content-center">
        <div class="col-5 my-4 text-center text-warning font-weight-bold">
            <div class="">
                You must be logged in in order to acces this page.
            </div>
            <div class="text-center my-4">
                <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-link">
                    <i class="fas fa-sign-in-alt"></i>
                    Login
                </a>
            </div>
        </div>
        
    </div>
    {% endif %}
{% endwith %}
{% endblock %}
