<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}


{% block title %}PMALL: capture'them all!{% endblock %}

{% block specific_css %}
{% endblock specific_css %}

{% block content %}

{% load staticfiles %}

<!-- Banner -->
<div class="container">
    
    <div class="row">
        <div class="col">
            
        <div id="carousel_main" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/chacaltaya_1.jpg' %}" alt="" class="d-block w-100"/>
                    <div class="carousel-caption bg-dark d-none d-md-block">
                        <h5>Chemistry IGE group - Grenoble</h5>
                        <p>Work-in-progress database</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

<!-- One -->
<div class="row my-3 justify-content-center">
    <div class="col">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/sources_all.jpg' %}" alt="" />
                <div class="card-body">
                    <h2 class="card-title">PMall App</h2>
                    <p class="card-text">Our app is design to let you create and export plots of air pollution data</p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a href="PMall" class="btn btn-outline-primary">PMall</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="btn btn-outline-secondary">logout</a>
                    {% else %}
                        <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-outline-success" >login</a>
                    {% endif %}
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="{% static 'img/demo_levo_DECOMBIO.png' %}" alt="" />
                <div class="card-body">
                    <h2 class="card-title">Demo (no login)</h2>
                    <p class="card-text">Public demo version of the vizualisation app of air pollution data</p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a href="demo" class="btn btn-outline-primary">Demo</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock %}
