#first-column {
}


#second-column {
}

#datatable-component {
    border-style: solid;
    border-width: thin;
    margin: 3px auto 3px;
    /* overflow-y: "scroll"; */
}
#datatable-component .row {
    margin: 0px;
}
/* #datatable { */
/*     padding: 5px; */
/*     width: 95%; */
/*     margin: auto; */
/* } */

#help-component {
    display: block;
    width: 100%;
    vertical-align: top;
}

#boxplot-options {
    /* display: flex; */
    display: block;
    width: 100%;
}

#options_check label {
    display: block;
}



#container-sources {
    width: 90%;
}

#map-component {
    margin: 20px 0px;
    /* height: 200px; */
    display: block;
}

.text {
    display: block;
}
